.items {
    width: fit-content;
    margin: auto;
    justify-content: center;
}

.items>.item {
    max-width: 500px;
}

.item .fa {
    box-shadow: 0 0 2px gray;
}

.items>.item:hover {
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

.about-us {
    max-width: 100%;
    align-items: center;
    background: url("img/img1.png");
}

.about-us .left-container {
    width: 500px;
}

div.img-container>img {
    width: 400px;
}

.fa-play {
    border-radius: 50%;
}

img.img {
    opacity: 0.5;
}

.expretise {
    align-items: center;
}

.expretise button {
    border: 2px solid white;
}

.data-set {
    background: url("img/image_7.jpg");
}

.data-set>.item {
    margin: auto;
}

.recent-blog {
    align-items: center;
}

.recent-blog>.blog {
    max-width: 250px;
    width: 250px;
    margin: auto;
}